@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

/* font-family: 'Great Vibes', cursive; */

@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

/* font-family: 'Righteous', cursive; */

@media screen and (min-width: 320px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .front {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
  }

  .video {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 1;
  }
  .logo {
    position: absolute;
    margin-top: 70px;
    left: 100px;
    z-index: 2;
  }
  .logo img {
    height: 150px;
    width: 150px;
  }
  .text {
    height: 200px;
    position: absolute;
    z-index: 2;
    bottom: 0.5px;
    left: 170px;
    transform: translate(-50%, -50%);
  }
  .text h1 {
    font-family: "Great Vibes", cursive;
    color: #fff;
    font-size: 4rem;
    text-align: center;
    text-shadow: 2px 5px 5px #000000;
  }
  .title-word {
    animation: color-animation 4s linear infinite;
  }

  .title-word-1 {
    --color-1: #f05d0e;
    --color-2: #258ba5;
    --color-3: #5c04e9;
  }

  .title-word-2 {
    --color-1: #33b0f8;
    --color-2: #09fcf0;
    --color-3: #0058a0;
  }

  .title-word-3 {
    --color-1: #b062dd;
    --color-2: #99417c;
    --color-3: #ff0095;
  }

  @keyframes color-animation {
    0% {
      color: var(--color-1);
    }
    32% {
      color: var(--color-1);
    }
    33% {
      color: var(--color-2);
    }
    65% {
      color: var(--color-2);
    }
    66% {
      color: var(--color-3);
    }
    99% {
      color: var(--color-3);
    }
    100% {
      color: var(--color-1);
    }
  }
  .card {
    width: 100vw;
    height: 100vh;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 1) 65%,
      rgb(124, 8, 8) 65%
    );
  }
  .card-text {
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card-text h2 {
    font-family: "Righteous", cursive;
    color: #f05d0e;
    text-shadow: 2px 3px 3px black;
    font-size: 2rem;
  }
  .card-1,
  .card-2 {
    width: auto;
    height: auto;
    display: flex;
    gap: 6px;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
  }
  .content-picture {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .card-1 img {
    width: 140px;
    height: 250px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px;
  }
  p {
    font-weight: bold;
  }

  .card-2 img {
    width: 300px;
    height: 200px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px;
  }
}
