@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

/* font-family: 'Great Vibes', cursive; */

@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

/* font-family: 'Righteous', cursive; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.front__navbar{
  background-color: #a26900;
  height: 48px;
  padding: 10px 12px;
  position: relative;
  top: -135px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.front__navbar img{
  width: 40px;
  height: 40px;
 
}
.checkbox, .fi{
  width: 24px;
  height: 24px;
  position: absolute;
  top: 10px;
  right: 12px;
  cursor: pointer;
  color: #f4af3c
}
.fi{
  pointer-events: none;
  font-size: 24px;
}
.checkbox{
  opacity: 0;
}
.fi-ss-apps-delete{
  display: none;
}
.checkbox:checked ~ .fi-ss-apps-add{
  display: none;
}
.checkbox:checked ~ .fi-ss-apps-delete{
  display: block;
}
.menu{
  width: 200px;
  position: absolute;
  top: -120px;
  z-index: -1;
  right: 0;
 transition: 250ms;
}
.menu li a{
  display: block;
  color: #000000;
  background-color: #f4af3c;
  padding: 10px 12px;
}
.menu li a:hover{
  background-color: #a26900;
}
.checkbox:checked ~ .menu{
  top: 48px
}

.front {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.front__items {
  text-align: center;
  z-index: 1;
}

.front__logo img {
  width: 150px;
  height: auto;
  margin: 0 auto;
}

.front__title {
  font-family: "Righteous", cursive;
  font-size: 3rem;
  margin-top: 200px;
  text-shadow: 2px 1px 3px rgb(29, 29, 29);
}
.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #ec3202;
  --color-2: #660000;
  --color-3: #a22a16;
}

.title-word-2 {
  --color-1: #f4af3c;
  --color-2: #cb8c1e;
  --color-3: #a26900;
}

.title-word-3 {
  --color-1: #ee130c;
  --color-2: #f7533b;
  --color-3: #c11901;
}

@keyframes color-animation {
  0% {
    color: var(--color-1);
  }
  32% {
    color: var(--color-1);
  }
  33% {
    color: var(--color-2);
  }
  65% {
    color: var(--color-2);
  }
  66% {
    color: var(--color-3);
  }
  99% {
    color: var(--color-3);
  }
  100% {
    color: var(--color-1);
  }
}
.card {
  width: 100vw;
  height: auto;

  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 60%,
    rgb(124, 8, 8) 70%
  );
  padding-top: 80px;
 
}
.card-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-text h2 {
  font-family: "Righteous", cursive;
  color: #f05d0e;
  text-shadow: 2px 3px 3px black;
  font-size: 2rem;
}
.card-1,
.card-2 {
  width: 100%;
  display: flex;
  gap: 30px;
  overflow: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding: 10px;
}
.content-picture {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card-1 img,
.card-2 img {
  border-radius: 20px;
  box-shadow: 5px 5px 5px;
  object-fit: cover;
}
p {
  font-weight: bold;
  text-align: center;
}

.contact {
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 60%,
    rgb(124, 8, 8) 80%
  );
}
.card-picture {
  width: 100%;
  height: auto;
  padding: 8px;
  display: flex;
  flex-direction: column;
}
.card-picture img {
  height: auto;
  border-radius: 20px;
  box-shadow: 5px 5px 5px;
  object-fit: cover;
}

.contact-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 20px;
  padding: 10px;
  text-align: justify;
  
}
.contact-text h2 {
  font-family: "Righteous", cursive;
  color: #f05d0e;
  text-shadow: 2px 3px 3px black;
  font-size: 2rem;
}
.contact-text p {
  display: block;
  color: #000000;
}
iframe {
  width: 100%;
  height: 150px;
}
footer {
  background: #7c0808;
  height: 90px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  line-height: 80px;
  color: white;
  gap: 10px;
}

footer p {
  font-size: 1rem;
  text-shadow: 1px 1px 2px black;
  margin: 0;
  padding: 0;
}


@media (min-width: 481px){
.checkbox, .fi-ss-apps-add, .fi-ss-apps-delete{
  display: none;
}

.menu{
  top: 0px;
  z-index: 1;
  width: unset;
  display: flex;
  height: 48px;
}
.menu li a{
  height: 48px;
  padding: 14px 12px 6px;
}
}