@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");

/* font-family: 'Great Vibes', cursive; */

@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");

/* font-family: 'Righteous', cursive; */

@media (min-width: 320px) {

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
.front__navbar {
  background-color: #a26900;
  height: 48px;
  padding: 10px 12px;
  position: fixed;
  top: 0;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
.front__video::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: none;
  z-index: 999;
}

.checkbox:checked ~ .front__video::before {
  display: block;
}
.front__navbar img {
  width: 40px;
  height: 40px;
}
.checkbox,
.fi {
  width: 24px;
  height: 24px;
  position: absolute;
  top: 10px;
  right: 12px;
  cursor: pointer;
  color: #f4af3c;
  z-index: 1001;
}
.fi {
  pointer-events: none;
  font-size: 24px;
}
.checkbox {
  opacity: 0;
}
.fi-ss-apps-delete {
  display: none;
}
.checkbox:checked ~ .fi-ss-apps-add {
  display: none;
}
.checkbox:checked ~ .fi-ss-apps-delete {
  display: block;
}
.menu {
  width: 200px;
  position: fixed;
  top: 0px;
  right: 0;
  transition: 250ms;
  background-color: #a26900;
  width: 100%;
  transform: translateY(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 998;
}
.menu li a {
  display: block;
  color: #000000;
  background-color: #f4af3c;
  padding: 10px 12px;
}
.menu li a:hover {
  background-color: #a26900;
}
.checkbox:checked ~ .menu {
  transform: translateY(30%);
}

.front {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.front__items {
  text-align: center;
  z-index: 1;
}

.front__logo img {
  width: 150px;
  height: auto;
  margin: 0 auto;
}

.front__title {
  font-family: "Righteous", cursive;
  font-size: 3rem;
  margin-top: 200px;
  text-shadow: 2px 1px 3px rgb(29, 29, 29);
}
.title-word {
  animation: color-animation 4s linear infinite;
}

.title-word-1 {
  --color-1: #ec3202;
  --color-2: #660000;
  --color-3: #a22a16;
}

.title-word-2 {
  --color-1: #f4af3c;
  --color-2: #cb8c1e;
  --color-3: #a26900;
}

.title-word-3 {
  --color-1: #ee130c;
  --color-2: #f7533b;
  --color-3: #c11901;
}

@keyframes color-animation {
  0% {
    color: var(--color-1);
  }
  32% {
    color: var(--color-1);
  }
  33% {
    color: var(--color-2);
  }
  65% {
    color: var(--color-2);
  }
  66% {
    color: var(--color-3);
  }
  99% {
    color: var(--color-3);
  }
  100% {
    color: var(--color-1);
  }
}
.card {
  width: 100vw;
  height: 100vh;

  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 60%, #a26900 70%);
  padding-top: 60px;
}
.card-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card-text h2 {
  font-family: "Righteous", cursive;
  color: #8c1801;
  text-shadow: 2px 3px 3px black;
  font-size: 2rem;
}

.card-1{
  display:grid;
  grid-template-rows: repeat(auto-fill,minmax(10rem,1fr));
  grid-auto-flow: column;
  overflow-x: auto;
  grid-gap: 1.5rem;
  grid-auto-columns: minmax(130px,1fr);
  padding: 15px;
  }

.card-2 {
  display:grid;
  grid-template-rows: repeat(auto-fill,minmax(10rem,1fr));
  grid-auto-flow: column;
  overflow-x: auto;
  grid-gap:2rem;
  grid-auto-columns: minmax(280px,1fr);
  padding: 15px;
  }

.content-picture {
  width: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.card-1 img,
.card-2 img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px;
  box-shadow: 5px 5px 5px;
  object-fit: contain;
}
p {
  font-weight: bold;
  text-align: center;
}

.contact {
  width: 100vw;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 60%, #a26900 80%);
}
.card-picture {
  width: 100%;
  height: auto;
  padding: 8px;
  display: flex;
  flex-direction: column;
}
.card-picture img {
  height: auto;
  border-radius: 20px;
  box-shadow: 5px 5px 5px;
  object-fit: cover;
}

.contact-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  align-content: center;
  gap: 20px;
  padding: 10px;
  text-align: justify;
}
.contact-text h2 {
  font-family: "Righteous", cursive;
  color: #8c1801;
  text-shadow: 2px 3px 3px black;
  font-size: 2rem;
}
.contact-text p {
  display: block;
  color: #000000;
}
iframe {
  width: 100%;
  height: 150px;
}
footer {
  background: #a26900;
  height: 75px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;

  gap: 10px;
}

footer p {
  font-size: 1rem;
  color: white;
  text-shadow: 1px 1px 2px black;
  margin: 0;
  padding: 0;
}
.rrss {
  width: auto;
  display: flex;
  gap: 10px;
  align-items: center;
}
.fa-instagram,
.fa-facebook {
  font-size: 1.5rem;
  color: white;
}
svg {
  height: 1.5rem;
  color: white;
}}

@media (min-width: 375px) {
  .card{
    margin-bottom: 60px;
  }
  .card-1{
    display:grid;
    grid-template-rows: repeat(auto-fill,minmax(10rem,1fr));
    grid-auto-flow: column;
    overflow-x: auto;
    grid-gap: 1.5rem;
    grid-auto-columns: minmax(160px,1fr);
    padding: 15px;
    }
  .card-2{
    grid-auto-columns: minmax(325px,1fr);
    grid-gap: 3rem;
  } 
}
